/* font */
@import url('https://fonts.googleapis.com/css2?family=Jura:wght@700&display=swap');

body {
    background: black;
    font-family: sans-serif;
    color: violet;
    font-family: 'Jura', sans-serif;
    font-size: 1rem;
}

main {
    max-width: 650px;
    margin: 0 auto;
    text-align: center;
}

#logo {
    width: 50%;
}

.description {
    margin: 20px 0 60px;
    color: violet;
    font-weight: bold;
}

.youtube-container {
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.youtube {
    margin: auto;
    max-width: 300px;
    border: 2px dotted magenta;
    border-radius: 20px;
}

.youtube:hover {
    border: 2px solid magenta;
}

.spotify-container {
    margin: auto;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.spotify {
    max-width: 300px;
    border: 2px dotted magenta;
    border-radius: 20px;
}

.spotify:hover {
    border: 2px solid magenta;
}

.story {
    margin: 100px 0 50px;
}

.youtube-mv {
    border: 3px solid darkviolet;
    border-radius: 20px;
    margin: 20px 0;
}

#chocolate {
    margin: 20px;
}

@media (max-width: 650px){
    .youtube-container {
        flex-direction: column;
        align-items: center;
    }

    .youtube {
        margin: 20px;
    }

    .spotify-container {
        align-items: center;
        flex-direction: column;
    }

    .spotify {
        margin: 20px;
    }


}
